* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 

 
}

body {
  background-color: rgb(59, 59, 59);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  


.photos {
  position: relative;
  width: 25vw;
  height: auto !important;
  padding: 10px 10px 20px 10px;
  background-color: #fff;
  margin: 10px;
  margin-top: 40px;
}

#ft1{
  top: 20%;
  transform: rotate(-20deg);
  left: -10%;
  filter: blur(2px);

}

#ft2 {
  top: -100px;
  left: 150px;
  z-index: 3;
  transform: rotate(20deg);
  z-index: 0;


}

#ft3 {
  top: -300px;
  right: 80px;
  transform: rotate(-15deg);
  z-index: 3;

}

#ft4 {
  top: -80%;
  left: 90px;
  transform: rotate(-20deg);
  z-index: 2;


}
#ft5 {
  top: -120%;
  left: -70px;
  transform: rotate(-80deg);
  filter: blur(1px);
  z-index: 2;

}

#ft6 {
  top: -145%;
  left: 90px;
  transform: rotate(30deg);

}

#ft7 {
  top: -230%;
  right: 200px;
  transform: rotate(-30deg);

}

#ft8 {
  top: -270%;
  right: -80%;
  transform: rotate(20deg);

}
#ft9 {
  top: -290%;
  left: -70%;

}
#ft10 {
  top: -330%;
  left: 70%;
}

img {
  width:100%; 
}
